<!-- photo d'un gars (Will?) qui chante -->
<section id="Interprète" class="container content-section text-center">
  <div class="interprete-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Interprète/Auteur</h2>
        <p>Nous créerons un écrin pour vos performances vocales, dans lequel vous pourrez mettre vos textes en valeur.</p>
<P>
           Nous vous accompagnerons dans la création musicale et textuelle, tout en vous fournissant les moyens de donner le meilleur de vous même
           jusqu'à l' aboutissement de votre projet.
        </p>
<!--        {% include more.html link_to="Coaching" %}</p> -->
      </div>
    </div>
  </div>
</section>
