<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-play-circle"></i>  <span class="light">Sònar</span> Studio
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.url}}#about">à propos</a>
        </li>
<!--
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Coaching">Coaching</a>
        </li>
-->
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Interprete">Interprète/Auteur</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Compositeur">Compositeur</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Groupe">Groupe de Musique</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Creation">Création</a>
        </li>
<!--
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Arrangement">Arrangement</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Studio">Studio</a>
        </li>
        <li>
          <a class="page-scroll" href="{{site.url}}{{ include.char }}Mastering">Mastering</a>
        </li>
-->
        <li>
          <a class="page-scroll" href="{{site.url}}#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
